@{
    ViewData["Title"] = "Генерация PDF-отчета";
}

<h2>Генерация PDF-отчета о студентах</h2>

<p>
    <a asp-controller="Student" asp-action="GeneratePdfReport" class="btn btn-primary" target="_blank">Сгенерировать PDF-отчет</a>
</p>
