@model StudentManagmentSystem.Models.Entities.Student

@{
    ViewData["Title"] = "Create";
}


<h1>Edit</h1>

<h4>@ViewBag.ErrorMess</h4>
<h4>Студент</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label">Имя клиента</label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">Имя клиента</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Фамилия клиента</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryId" class="control-label"></label>
                <select asp-for="CountryId" asp-items="@(ViewBag.CountryList)" class="form-control"></select>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="InstituteId">ID института</label>
                <input asp-for="InstituteId" class="form-control" />
                <span asp-validation-for="InstituteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DactyloscopyStatus">Статус Dactyloscopy</label>
                <input asp-for="DactyloscopyStatus" class="form-control" />
                <span asp-validation-for="DactyloscopyStatus" class="text-danger"></span>
            </div> *@
            <input asp-for="Dactyloscopies[0].Id" />
            <input asp-for="Dactyloscopies[0].StudentId" />
            <div class="form-group">
                <label asp-for="Dactyloscopies[0].Status" class="control-label">Dactyloscopy</label>
                <input asp-for="Dactyloscopies[0].Status" class="form-control" />
                <span asp-validation-for="Dactyloscopies[0].Status" class="text-danger"></span>
            </div>
            <input asp-for="Educations[0].Id" />
            <input asp-for="Educations[0].StudentId" />
            <div class="form-group">
                <label asp-for="Educations[0].EducationFormId" class="control-label">EducationFormId</label>
                <input asp-for="Educations[0].EducationFormId" class="form-control" />
                <span asp-validation-for="Educations[0].EducationFormId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Educations[0].InstituteId" class="control-label">InstituteId</label>
                <input asp-for="Educations[0].InstituteId" class="form-control" />
                <span asp-validation-for="Educations[0].InstituteId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-primary">Назад</a>
            </div>
        </form>
    </div>
</div>
