@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h2 class="display-5">Добро пожаловать!</h2>
    <p class="display-6">Отдел международного сотрудничества КузГТУ</p>
</div>
<br />
<div class="text-center">
    <img src="~/frog.svg" class="rounded" alt="frogs" height="350">
</div>